spring:
  data:
    mongodb:
      uri: mongodb+srv://plop:smilegateplop@mycluster.xcoh78v.mongodb.net/plop?retryWrites=true&w=majority
  kafka:
    bootstrap-servers: host.docker.internal:9092
    chat-consumer:
      group-id: chat-group
    room-consumer:
      group-id: room-group
kafka:
  topic:
    chat-name: message
    room-name: room

token:
  # 1분
  access_expired_time: 60000000
  secret_key: plip
  # 1시간
  refresh_expired_time: 3600000